name: CI

on:
  pull_request:
    branches: [main]
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Install tools
        run: |
          echo "/home/linuxbrew/.linuxbrew/bin" >> "$GITHUB_PATH"
          /home/linuxbrew/.linuxbrew/bin/brew install \
            actionlint \
            check-jsonschema \
            go-task \
            jq \
            prettier \
            shellcheck \
            shfmt \
            yamlfmt \
            yamllint \

      - name: Lint
        run: task lint
